#root {
  margin: 0 auto;
  padding: 2rem;
  max-width: 1200px;
  width: 100%;
  height: 100%;
}

.avatar-frame {
  position: relative;
  width: 60px; /* Adjust to match your frame dimensions */
  height: 60px; /* Adjust to match your frame dimensions */
  display: flex;
  justify-content: center;
  align-items: center;
}

.frame-image {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0; /* Frame should be above the avatar */
  object-fit: cover; /* Ensure the frame fits properly */
}

.avatar-image {
  position: absolute;
  width: 80%; /* Slightly smaller than the frame to fit inside */
  height: 80%;
  z-index: 1; /* Avatar should be below the frame */
  object-fit: contain; /* Maintain the aspect ratio of the avatar */
}

.status-container{
  background-image: url('/assets/background/bg.png');
  width: 100%;
  height: 100%;
  color: white;
  padding: 10px;
}

.progress{
  margin: 2px;
}

.good{ 
  background-color: rgb(111 163 134) !important;
}

.bad{ 
  background-color: burlywood !important;
}